<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body style="background-color: rgb(58, 61, 70)">
    <section style="width: 50%; margin: auto">
      <h1 style="text-align: center; color: white">Home</h1>
      <% if(user){ %> <% user.forEach(function(name){ %>
      <h1>Hola <%=name.username %></h1>
      <a href="/api/user/logout"
        ><button class="btn btn-danger" id="logout">Logout</button></a
      >
      <% })%>
      <a href="/api/products/save"
        ><button class="btn btn-danger" id="logout">Cargar productos</button></a
      ><% } %>
    </section>
    <section style="width: 50%; margin: auto; margin-top: 5rem">
      <a href="/api/products"
        ><button class="btn btn-danger" id="logout">Ver productos</button></a
      >
    </section>
  </body>
</html>
