<!DOCTYPE html>
<html lang="en">
  <%- include("templates/head") %>
  <body style="background-color: rgb(58, 61, 70)">
    <header><%- include("templates/nav") %></header>
    <section style="width: 50%; margin: auto">
      <h1 style="text-align: center; color: white">Login</h1>

      <form
        action="/api/user/login"
        method="post"
        onSubmit="user();return false"
        style="color: white; font-weight: bold"
      >
        <div class="mb-3">
          <input
            type="text"
            name="username"
            class="form-control"
            id="user"
            placeholder="Usuario"
            style="
              background: none;
              border: none;
              border-bottom: 2px solid rgb(228, 228, 228);
              color: white;
            "
          />
          <input
            type="text"
            name="password"
            class="form-control"
            id="user"
            placeholder="Contraseña"
            style="
              background: none;
              border: none;
              border-bottom: 2px solid rgb(228, 228, 228);
              color: white;
            "
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          style="margin-bottom: 2rem"
        >
          Enviar
        </button>
      </form>
      <a href="/api/user/signup" style="text-decoration: none; color: white"
        >¿No estas registrado? Hacé click aquí!</a
      >
    </section>
    <script>
      const user = () => {
        const user = document.getElementById("user").value;
        return user;
      };
    </script>
  </body>
</html>
